section#route.route.page
	.page-inner
		select#start
			option(value="chicago, il") Chicago
			option(value="st louis, mo") St Louis
			option(value="joplin, mo") Joplin, MO
			option(value="oklahoma city, ok") Oklahoma City
			option(value='amarillo, tx') Amarillo
			option(value='gallup, nm') Gallup, NM
			option(value='flagstaff, az') Flagstaff, AZ
			option(value='winona, az') Winona
			option(value='kingman, az') Kingman
			option(value='barstow, ca') Barstow
			option(value='san bernardino, ca') San Bernardino
			option(value='los angeles, ca') Los Angeles
		select#end
			option(value='chicago, il') Chicago
			option(value='st louis, mo') St Louis
			option(value='joplin, mo') Joplin, MO
			option(value='oklahoma city, ok') Oklahoma City
			option(value='amarillo, tx') Amarillo
			option(value='gallup, nm') Gallup, NM
			option(value='flagstaff, az') Flagstaff, AZ
			option(value='winona, az') Winona
			option(value='kingman, az') Kingman
			option(value='barstow, ca') Barstow
			option(value='san bernardino, ca') San Bernardino
			option(value='los angeles, ca') Los Angeles

		#routeMap.routeMap(style="width: 100%; height: 200px")
