extends component/_layout

block pageTitle
	title Mapアプリ

block css
	link(rel="stylesheet", href="./css/jqMini.min.css")
	link(rel="stylesheet", href="./css/index.min.css")

block script
	//script(src="/js/angular-sanitize.min.js")
	script(src="./js/angular.min.js")
	script(src="./js/index.js")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
	script(src="./js/jqMini.js")
	script.
		var jqMiniOpt = {
		};

		var $jqMini = $('#jqMini');

		$jqMini.jqMini(jqMiniOpt);

		var HTML_WIDTH = "380";

		$(function () {
			$(window).resize(function () {
				setZoom()
			});
			setZoom();
		});

		function setZoom() {
			var scale = $(window).width() / HTML_WIDTH * 100 + "%";
			$('html').css({'zoom': scale});
		}

	script.
		var directionsDisplay;
		var directionsService = new google.maps.DirectionsService();
		var map;

		function initialize() {
			directionsDisplay = new google.maps.DirectionsRenderer();
			var chicago = new google.maps.LatLng(41.850033, -87.6500523);
			var mapOptions = {
				zoom: 7,
				center: chicago
			}
			map = new google.maps.Map(document.getElementById("routeMap"), mapOptions);
			directionsDisplay.setMap(map);
		}

		function calcRoute() {
			var startVal = document.getElementById("start").value;
			var endVal = document.getElementById("end").value;
			console.log(startVal);
			console.log(endVal);
			var request = {
				origin: startVal,
				destination: endVal,
				travelMode: google.maps.TravelMode.DRIVING
			};
			directionsService.route(request, function (result, status) {
				if (status == google.maps.DirectionsStatus.OK) {
					console.log(result);
					directionsDisplay.setDirections(result);
				}
			});
		}

		var start = document.getElementById('start');
		var end = document.getElementById('end');

		start.addEventListener('change', function () {
			calcRoute();
		});

		end.addEventListener('change', function () {
			calcRoute();
		});

block main
	main#jqMini.jqMini
		block top
			include _top
			include _test
		block search
			include map/_index
			include map/_resultList
		block geo
			include geo/_geo
			include geo/_geomap
		block route
			include _route