@charset "utf-8"
@import 'function'
@import 'header'
@import 'footer'

html
  font-size: 62.5%

body
  +font_size(16)
  font-family: "Lato", "游ゴシック" , "Yu Gothic" , Helvetica ,"ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", sans-serif
  color: #616161

a
  text-decoration: none

h1, h2, p
  margin: 0

ul, ol
  padding: 0
  list-style: none


img
  max-width: 100%


.loading
  $bg: '/images/ajax-loader.gif'
  background: url($bg) no-repeat center center