
footer.footer
	nav
		ul.footer-list
			li: a(href="#top", data-transition="slideleft") top
			li: a#mapBtn(href="#map", data-transition="slideleft") マップ
			li: a(href="#test", data-transition="slideleft") test
			li: a(href="#") 図鑑
			li: a(href="#") 設定