extends ../component/_layout

block pageTitle
	title Map表示

block css
	link(rel="stylesheet", href="/css/map.min.css")

block script
	script(src="/js/dist/jquery.min.js")
	script(src="/js/map.js")

block main
	main
		#mapArea.loading



